/*      MIXINS      */
/*      VARIABLES      */
/*      VARIABLES      */
/*      /MIXINS      */
/*      HEADER      */
#wrapper {
  padding-top: 0 !important;
}

.header {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #ced4da;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #69D161;
  margin-bottom: 20px;
}
.header .navbar.header-main {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative !important;
}
.header .navbar.header-main.stuck {
  margin-top: 0;
}
.header .navbar.header-main ul.navbar-nav li a.user-image-wrap {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.header .navbar.header-main ul.navbar-nav li a.user-image-wrap .user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.header .navbar.header-main ul.navbar-nav li a.user-image-wrap .user-image img {
  position: absolute;
  width: 100%;
}
.header .navbar.header-main ul.navbar-nav li a.user-image-wrap::after {
  position: absolute;
  right: -0.6rem;
}
.header .navbar .navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header .navbar .navbar-brand img {
  max-width: 135px;
}
.header .navbar ul.navbar-nav li {
  margin-top: 0;
  margin-bottom: 0;
}
.header .header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50px;
  color: #fff;
}
.header .header-navigation .dropdown .dropdown-toggle {
  border: transparent;
  background: transparent;
  font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;
}
.header .header-navigation .dropdown .dropdown-menu {
  border-radius: 2rem;
}
.header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item > a.dropdown-item {
  color: #69D161;
}
.header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item > a.dropdown-item:hover, .header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item > a.dropdown-item:focus, .header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item > a.dropdown-item:active, .header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item > a.dropdown-item.active {
  background: transparent;
}
.header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item .sub-menu .submenu-item a.dropdown-item {
  color: #636363;
  white-space: normal;
}
.header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item .sub-menu .submenu-item a.dropdown-item:hover, .header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item .sub-menu .submenu-item a.dropdown-item:focus, .header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item .sub-menu .submenu-item a.dropdown-item:active, .header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item .sub-menu .submenu-item a.dropdown-item.active {
  background: transparent;
  color: #69D161;
}
.header .header-navigation .navigation-special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .header-navigation .navigation-special .dropdown-item {
  color: #fff !important;
  width: auto;
  max-width: 24.5%;
  font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;
}
.header .header-navigation .navigation-special .dropdown-item:hover, .header .header-navigation .navigation-special .dropdown-item:focus, .header .header-navigation .navigation-special .dropdown-item:active, .header .header-navigation .navigation-special .dropdown-item.active {
  background: transparent;
}
.header .header-navigation .category-add .navbar-nav .postadd .btn-add-listing {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  text-shadow: unset;
  background: transparent;
  border-radius: 1.5rem !important;
  border: 1px solid transparent !important;
  font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;
}
.header .header-navigation .category-add .navbar-nav .postadd .btn-add-listing img {
  width: 35px;
}
.header .header-navigation .category-add .navbar-nav .postadd .btn-add-listing span {
  color: #fff;
}
.header .header-navigation .category-add .navbar-nav .postadd .btn-add-listing:hover, .header .header-navigation .category-add .navbar-nav .postadd .btn-add-listing:focus, .header .header-navigation .category-add .navbar-nav .postadd .btn-add-listing:active, .header .header-navigation .category-add .navbar-nav .postadd .btn-add-listing.active {
  border: 1px solid #fff !important;
  background: transparent !important;
}

/*      /HEADER      */
.page-header-wrapper {
  height: 60px;
}

/*      MIXINS      */
/*      VARIABLES      */
/*      VARIABLES      */
/*      /MIXINS      */
/* HOME */
/*      Banner section      */
.wide-intro {
  background-position: center;
  background-repeat: no-repeat;
}
.wide-intro .search-row {
  background-color: transparent !important;
}
.wide-intro .search-row .search-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.wide-intro .search-row .search-col i {
  font-size: 1.25rem;
  position: absolute;
  left: 1.3rem;
}
.wide-intro .search-row .search-col:first-child {
  border-radius: unset !important;
}
.wide-intro .search-row .search-col .form-control {
  border: 0.3rem solid #69D161 !important;
  border-radius: 1.5rem !important;
  padding-left: 2.25rem !important;
}
.wide-intro .search-row .search-col .form-control:hover, .wide-intro .search-row .search-col .form-control:focus, .wide-intro .search-row .search-col .form-control:active, .wide-intro .search-row .search-col .form-control.active {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  outline: none;
}
.wide-intro .search-row .search-col .btn-search {
  border: 0.3rem solid transparent !important;
  border-radius: 1.5rem !important;
  padding-left: 3rem;
  padding-right: 3rem;
}
.wide-intro .search-row .search-col .btn-search:hover, .wide-intro .search-row .search-col .btn-search:focus, .wide-intro .search-row .search-col .btn-search:active, .wide-intro .search-row .search-col .btn-search.active {
  border: 0.3rem solid #69D161 !important;
}

.search-row-wrapper #seach .search-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.search-row-wrapper #seach .search-col i {
  font-size: 1.25rem;
  position: absolute;
  left: 1.3rem;
}
.search-row-wrapper #seach .search-col:first-child {
  border-radius: unset !important;
}
.search-row-wrapper #seach .search-col .select2-container .selection .select2-selection--single {
  border: 0.3rem solid #69D161 !important;
  border-radius: 1.5rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
}
.search-row-wrapper #seach .search-col .form-control {
  border: 0.3rem solid #69D161 !important;
  border-radius: 1.5rem !important;
  padding-left: 2rem;
}
.search-row-wrapper #seach .search-col .form-control:hover, .search-row-wrapper #seach .search-col .form-control:focus, .search-row-wrapper #seach .search-col .form-control:active, .search-row-wrapper #seach .search-col .form-control.active {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  outline: none;
}
.search-row-wrapper #seach .search-col .btn-search {
  border: 0.3rem solid transparent !important;
  border-radius: 1.5rem !important;
  padding-left: 3rem;
  padding-right: 3rem;
}
.search-row-wrapper #seach .search-col .btn-search:hover, .search-row-wrapper #seach .search-col .btn-search:focus, .search-row-wrapper #seach .search-col .btn-search:active, .search-row-wrapper #seach .search-col .btn-search.active {
  border: 0.3rem solid #69D161 !important;
}

/*      /Banner section      */
.tags a:hover, .tags a:focus, .tags a:active, .tags a.active {
  border-color: #69d161 !important;
}

.featured-list-row {
  width: 100%;
}

.featured-list-slider .owl-stage-outer {
  min-height: 350px;
  max-height: 350px;
}
.featured-list-slider .owl-stage {
  min-height: 350px;
  max-height: 350px;
  padding: 0.5rem 0;
}
.featured-list-slider .owl-item {
  overflow: hidden;
  margin: 0 0.75rem;
  border-radius: 1.5rem;
  border: 1px solid #ced4da;
  -webkit-box-shadow: 0 0.15rem 0.1rem 0.05rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.15rem 0.1rem 0.05rem rgba(0, 0, 0, 0.2);
}
.featured-list-slider .owl-item .item {
  width: 100%;
}
.featured-list-slider .owl-item .item > a {
  border: none !important;
  background: transparent !important;
}
.featured-list-slider .owl-item .item > a .item-carousel-thumb {
  -webkit-box-shadow: 0 0.2rem 0.1rem 0.05rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem 0.1rem 0.05rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  overflow: hidden;
  display: block;
  padding: 0 1px;
  min-height: 150px;
  max-height: 150px;
}
.featured-list-slider .owl-item .item > a .item-carousel-desc {
  min-height: 150px;
  max-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.featured-list-slider .owl-item .item > a .item-carousel-desc .item-name {
  min-height: unset;
  color: #69d161;
}
.featured-list-slider .owl-item .item > a:hover, .featured-list-slider .owl-item .item > a:focus, .featured-list-slider .owl-item .item > a:active, .featured-list-slider .owl-item .item > a.active {
  border: none !important;
  background: transparent !important;
}
.featured-list-slider .owl-item .item:hover .item-carousel-thumb, .featured-list-slider .owl-item .item:focus .item-carousel-thumb, .featured-list-slider .owl-item .item:active .item-carousel-thumb, .featured-list-slider .owl-item .item.active .item-carousel-thumb {
  -webkit-box-shadow: 0 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  overflow: hidden;
  display: block;
}
.featured-list-slider .owl-item .item:hover .item-carousel-thumb img, .featured-list-slider .owl-item .item:focus .item-carousel-thumb img, .featured-list-slider .owl-item .item:active .item-carousel-thumb img, .featured-list-slider .owl-item .item.active .item-carousel-thumb img {
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
}
.featured-list-slider .owl-item .item:hover .item-name, .featured-list-slider .owl-item .item:focus .item-name, .featured-list-slider .owl-item .item:active .item-name, .featured-list-slider .owl-item .item.active .item-name {
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
}
.featured-list-slider .owl-nav.disabled {
  display: block;
  margin: 0;
}
.featured-list-slider .owl-nav button[class*=owl-] {
  padding: 0.5rem 0.75rem !important;
  margin: 0;
}
.adds-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.adds-wrapper .item-list {
  overflow: hidden;
  margin: 0 0.5rem 1rem;
  border-radius: 1.5rem;
  width: 17.75% !important;
  height: auto !important;
  border: 1px solid #ced4da !important;
  -webkit-box-shadow: 0 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}
.adds-wrapper .item-list:hover, .adds-wrapper .item-list:focus, .adds-wrapper .item-list:active {
  background: transparent;
}
.adds-wrapper .item-list:hover .photobox .add-image a.make-favorite, .adds-wrapper .item-list:focus .photobox .add-image a.make-favorite, .adds-wrapper .item-list:active .photobox .add-image a.make-favorite {
  width: auto;
  border-radius: 0.25rem;
}
.adds-wrapper .item-list .cornerRibbons {
  left: -32.5% !important;
  top: 7.5% !important;
}
.adds-wrapper .item-list .photobox {
  -webkit-box-shadow: 0 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  overflow: hidden;
  display: block;
}
.adds-wrapper .item-list .photobox .add-image .fixed-fav {
  position: absolute;
  right: 0.6rem;
  top: 2rem;
}
.adds-wrapper .item-list .photobox .add-image a.make-favorite {
  margin-bottom: 0;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #292b2c !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.adds-wrapper .item-list .photobox .add-image a.make-favorite:hover, .adds-wrapper .item-list .photobox .add-image a.make-favorite:focus, .adds-wrapper .item-list .photobox .add-image a.make-favorite:active, .adds-wrapper .item-list .photobox .add-image a.make-favorite.active {
  width: auto;
  border-radius: 0.25rem;
  color: #69D161 !important;
}
.adds-wrapper .item-list .photobox .add-image a.img-wrap {
  max-height: 200px;
}
.adds-wrapper .item-list .photobox .add-image a.img-wrap img {
  border-radius: 1.5rem;
}
.adds-wrapper .item-list .add-desc-box .items-details .add-title a {
  color: #636363;
}
.adds-wrapper .item-list .add-desc-box .items-details .info-row span a {
  color: #69D161;
}
.adds-wrapper .item-list .add-desc-box .items-details .info-row span a:hover, .adds-wrapper .item-list .add-desc-box .items-details .info-row span a:focus, .adds-wrapper .item-list .add-desc-box .items-details .info-row span a:active, .adds-wrapper .item-list .add-desc-box .items-details .info-row span a.active {
  color: #636363;
}
.adds-wrapper .item-list .add-desc-box .items-details .info-row span.item-location i {
  color: #69D161;
  font-size: 1rem;
}
.adds-wrapper .item-list .add-desc-box .items-details .info-row span.item-location a {
  color: #636363;
}
.adds-wrapper .load-more a.btn {
  background: -o-linear-gradient(left, #69E961, #69B661);
  background: -webkit-gradient(linear, left top, right top, from(#69E961), to(#69B661));
  background: linear-gradient(to right, #69E961, #69B661);
  color: #fff;
  font-size: 1.25rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}
.adds-wrapper .load-more a.btn:hover, .adds-wrapper .load-more a.btn:focus, .adds-wrapper .load-more a.btn:active {
  color: #69D161;
  background: #fff;
  border-color: #69D161;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}

.item-page .tab-filter {
  position: unset;
  right: unset;
  top: unset;
}
.item-page .adds-wrapper .item-list {
  width: 24.5% !important;
}

.iconbox-wrap .iconbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.iconbox-wrap .iconbox .iconbox-wrap-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.iconbox-wrap .iconbox .iconbox-wrap-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
}

.items-details-wrapper .content-footer a {
  color: #69D161 !important;
}

.select2-container.select2-container--open .select2-dropdown.select2-dropdown--below {
  border-top: 1px solid #ddd;
  top: 0.25rem;
}

.detail-line-action a {
  display: block;
}

.sidebar-card .ev-action a {
  color: #69D161 !important;
}
.sidebar-card .ev-action a:hover, .sidebar-card .ev-action a:focus, .sidebar-card .ev-action a:active, .sidebar-card .ev-action a.active {
  color: #636363 !important;
}

/* /HOME */
/*      FOOTER      */
footer .footer-content {
  -webkit-box-shadow: 0 -15px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -15px 6px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #ced4da;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
footer .footer-content .footer-title-wrap .footer-title {
  color: #636363;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}
footer .footer-content .footer-content-wrap {
  -webkit-box-shadow: 0 -15px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -15px 6px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #69D161;
  color: #fff;
}
footer .footer-content .footer-content-wrap .footer-col ul.footer-nav li a {
  color: #fff !important;
  line-height: 1.75;
  font-size: 0.9rem;
}
footer .footer-content .footer-content-wrap .footer-col ul.footer-nav li a:hover, footer .footer-content .footer-content-wrap .footer-col ul.footer-nav li a:focus, footer .footer-content .footer-content-wrap .footer-col ul.footer-nav li a:active {
  color: #636363 !important;
}

/*      /FOOTER      */