/*      MIXINS      */
/*      VARIABLES      */
/*      VARIABLES      */
/*      /MIXINS      */
/*      HEADER      */
#wrapper {
  padding-top: 0 !important;
}

.header {
  box-shadow: 0 15px 6px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #ced4da;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #69D161;
  margin-bottom: 20px;
}
.header .navbar.header-main {
  box-shadow: 0 15px 6px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative !important;
}
.header .navbar .navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header .navbar .navbar-brand img {
  max-width: 135px;
}
.header .navbar ul.navbar-nav li {
  margin-top: 0;
  margin-bottom: 0;
}
.header .header-navigation {
  display: flex;
  align-items: center;
  min-height: 50px;
  color: #fff;
}
.header .header-navigation .dropdown .dropdown-toggle {
  background: transparent;
  border: transparent;
  font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;
}
.header .header-navigation .dropdown .dropdown-menu {
  border-radius: 2rem;
}
.header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item > a.dropdown-item {
  color: #69D161;
}
.header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item > a.dropdown-item:hover, .header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item > a.dropdown-item:focus, .header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item > a.dropdown-item:active, .header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item > a.dropdown-item.active {
  background: transparent;
}
.header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item .sub-menu .submenu-item a.dropdown-item {
  color: #636363;
}
.header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item .sub-menu .submenu-item a.dropdown-item:hover, .header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item .sub-menu .submenu-item a.dropdown-item:focus, .header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item .sub-menu .submenu-item a.dropdown-item:active, .header .header-navigation .dropdown .dropdown-menu .vertical-menu .main-item .sub-menu .submenu-item a.dropdown-item.active {
  background: transparent;
  color: #69D161;
}

/*      /HEADER      */
.page-header-wrapper {
  height: 60px;
}

/*      MIXINS      */
/*      VARIABLES      */
/*      VARIABLES      */
/*      /MIXINS      */
/* HOME */
/*      Banner section      */
#homepage .wide-intro {
  background-position: center;
  background-repeat: no-repeat;
}
#homepage .wide-intro .search-row {
  background-color: transparent;
}
#homepage .wide-intro .search-row .search-col {
  display: flex;
  align-items: center;
}
#homepage .wide-intro .search-row .search-col i {
  font-size: 1.25rem;
  position: absolute;
  left: 0.75rem;
}
#homepage .wide-intro .search-row .search-col:first-child {
  border-radius: unset !important;
}
#homepage .wide-intro .search-row .search-col .form-control {
  border: 0.3rem solid #69D161 !important;
  border-radius: 1.5rem !important;
}
#homepage .wide-intro .search-row .search-col .btn-search {
  border-radius: 1.25rem !important;
  padding-left: 3rem;
  padding-right: 3rem;
}

/*      /Banner section      */
.row-featured-category .category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.row-featured-category .category-list .item-list {
  width: 24.5%;
  border: 1px solid #ced4da;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 0.35rem 0.15rem rgba(0, 0, 0, 0.2);
}
.row-featured-category .category-list .item-list:hover, .row-featured-category .category-list .item-list:focus, .row-featured-category .category-list .item-list:active {
  background: transparent;
}
.row-featured-category .category-list .item-list:hover .photobox .add-image a.make-favorite, .row-featured-category .category-list .item-list:focus .photobox .add-image a.make-favorite, .row-featured-category .category-list .item-list:active .photobox .add-image a.make-favorite {
  width: auto;
  border-radius: 0.25rem;
}
.row-featured-category .category-list .item-list .photobox {
  box-shadow: 0 0.35rem 0.15rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  overflow: hidden;
  display: block;
}
.row-featured-category .category-list .item-list .photobox .add-image a.make-favorite {
  margin-bottom: 0;
  position: absolute;
  right: 0.6rem;
  top: 2rem;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-featured-category .category-list .item-list .photobox .add-image a.make-favorite:hover, .row-featured-category .category-list .item-list .photobox .add-image a.make-favorite:focus, .row-featured-category .category-list .item-list .photobox .add-image a.make-favorite:active, .row-featured-category .category-list .item-list .photobox .add-image a.make-favorite.active {
  width: auto;
  border-radius: 0.25rem;
}
.row-featured-category .category-list .item-list .photobox .add-image a.img-wrap img {
  border-radius: 1.5rem;
}
.row-featured-category .category-list .item-list .add-desc-box .items-details .add-title a {
  color: #636363;
}
.row-featured-category .category-list .item-list .add-desc-box .items-details .info-row span a {
  color: #69D161;
}
.row-featured-category .category-list .item-list .add-desc-box .items-details .info-row span a:hover, .row-featured-category .category-list .item-list .add-desc-box .items-details .info-row span a:focus, .row-featured-category .category-list .item-list .add-desc-box .items-details .info-row span a:active {
  color: #636363;
}
.row-featured-category .category-list .item-list .add-desc-box .items-details .info-row span.item-location i {
  color: #69D161;
  font-size: 1rem;
}
.row-featured-category .category-list .item-list .add-desc-box .items-details .info-row span.item-location a {
  color: #636363;
}
.row-featured-category .category-list .load-more a.btn {
  background: linear-gradient(to right, #69E961, #69B661);
  color: #fff;
  font-size: 1.25rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out 0s;
}
.row-featured-category .category-list .load-more a.btn:hover, .row-featured-category .category-list .load-more a.btn:focus, .row-featured-category .category-list .load-more a.btn:active {
  color: #69D161;
  background: #fff;
  border-color: #69D161;
}

/* /HOME */
/*      FOOTER      */
footer .footer-content {
  box-shadow: 0 -15px 6px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #ced4da;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
footer .footer-content .footer-title-wrap .footer-title {
  color: #636363;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}
footer .footer-content .footer-content-wrap {
  box-shadow: 0 -15px 6px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #69D161;
  color: #fff;
}
footer .footer-content .footer-content-wrap .footer-col ul.footer-nav li a {
  color: #fff;
  line-height: 1.75;
  font-size: 0.9rem;
}
footer .footer-content .footer-content-wrap .footer-col ul.footer-nav li a:hover, footer .footer-content .footer-content-wrap .footer-col ul.footer-nav li a:focus, footer .footer-content .footer-content-wrap .footer-col ul.footer-nav li a:active {
  color: #636363;
}

/*      /FOOTER      */