/*      VARIABLES      */
@use 'styles/partials/colorVariable' as color;
/*      VARIABLES      */

/*      MIXINS      */
@use "styles/partials/mixin" as mix;
/*      /MIXINS      */

/*      DEFAULTS      */

html {
  overflow-x: hidden;
}

body {
  //font-family: $font-poppins;
  color: color.$tertiary;
  font-size: 16px;
  line-height: 1.5;
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  color: color.$primary !important;
}

a:hover, a:focus, a:active {
  color: color.$secondary !important;
}

.no-outline-shadow {
  @include mix.noshadow;
}

.shadow {
  @include mix.shadow;
}

.shadow-light-0 {
  @include mix.shadow-light-0;
}

.shadow-light {
  @include mix.shadow-light;
}

.shadow-light-2 {
  @include mix.shadow-light-2;
}

.shadow-dark {
  @include mix.shadow-dark;
}

.shadow-dark-1 {
  @include mix.shadow-dark-1;
}

.shadow-dark-2 {
  @include mix.shadow-dark-2;
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-padding2 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.section-padding3 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-control {
  background-clip: unset;
}

.heading-separator {
  width: 100px;
  height: 1px;
}

.heading-separator-small {
  width: 50px;
  height: 1px;
}

.vertical-separator {
  height: 43px;
  width: 1px;
  display: block;
  background: color.$gray-light;
}

.custom-radio, .custom-checkbox {

  .custom-control-input {

    &:checked {

      & ~ .custom-control-label {

        &::before {
          color: color.$primary;
          border-color: gray;
          background: color.$white;
        }

      }

    }

    &:hover, &:focus, &:active {
      @include mix.noshadow;

      & ~ .custom-control-label {

        &::before {
          @include mix.noshadow;
          border-color: color.$primary;
        }

      }

    }

  }

}

.custom-radio {

  .custom-control-input {

    &:checked {

      & ~ .custom-control-label {

        &::after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%235e018c'/%3e%3c/svg%3e");
        }

      }

    }

  }

}

.custom-checkbox {

  .custom-control-input {

    &:checked {

      & ~ .custom-control-label {

        &::after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%235e018c' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }

      }

    }

  }

}

.form-check {

  .form-check-input {
    margin-top: 0;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    height: 25px;
    z-index: 99999;
  }

  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    position: absolute;
    border-radius: 100%;
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 1px solid #ddd;
  }

  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    width: 10px;
    height: 10px;
    top: 4px;
    left: 4px;
    background: #69D161;
    border: 1px solid #69D161;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

  }

  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

.custom-select {
  position: relative;
  width: 100%;
  background-image: none;

  &:hover, &:focus, &:active {
    @include mix.noshadow;
    border-color: color.$primary;
  }

}

.btn {

  &:hover, &:focus, &:active {
    @include mix.noshadow;
  }

  &.btn-filter {
    color: color.$tertiary;
    background-color: transparent !important;
    border-color: transparent !important;

    &:hover, &:focus, &:active {
      color: color.$primary;
      border-color: transparent !important;
    }

  }

  &.btn-gray {
    @include mix.button-hover(color.$gray);

    &:hover, &:focus, &:active {
      @include mix.button-revert-hover(color.$gray);
    }

  }

  &.btn-gray-revert {
    @include mix.button-revert-hover(color.$gray);

    &:hover, &:focus, &:active {
      @include mix.button-hover(color.$gray);
    }

  }

  &.btn-primary {
    @include mix.button-hover(color.$primary);

    &:hover, &:focus, &:active {
      @include mix.button-revert-hover(color.$primary);
    }

  }

  &.btn-primary-revert {
    @include mix.button-revert-hover(color.$primary);

    &:hover, &:focus, &:active {
      @include mix.button-hover(color.$primary);
    }

  }

  &.btn-secondary {
    @include mix.button-hover(color.$secondary);

    &:hover, &:focus, &:active {
      @include mix.button-revert-hover(color.$secondary);
    }

  }

  &.btn-secondary-revert {
    @include mix.button-revert-hover(color.$secondary);

    &:hover, &:focus, &:active {
      @include mix.button-hover(color.$secondary);
    }

  }

  &.btn-tertiary {
    @include mix.button-hover(color.$tertiary);

    &:hover, &:focus, &:active {
      @include mix.button-revert-hover(color.$tertiary);
    }

  }

  &.btn-tertiary-revert {
    @include mix.button-revert-hover(color.$tertiary);

    &:hover, &:focus, &:active {
      @include mix.button-hover(color.$tertiary);
    }

  }

}

section {

  button {
    @include mix.transition-normal;

    &:hover, &:focus, &:active {
      @include mix.transition-hover;
    }

  }

}

.avail-status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-flex;
  box-shadow: 0 0 1px 1px #0000001a;

  &.pulse {
    animation: pulse-animation 2s infinite;
  }

  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0 rgba(40, 199, 111, 0.25);
    }
    50% {
      box-shadow: 0 0 0 0.3rem rgba(40, 199, 111, 0.125);
    }
    100% {
      box-shadow: 0 0 0 0.6rem rgba(40, 199, 111, 0);
    }
  }

  &.regular {
  }

  &.active {
    background: #28C76F;
  }

}

/*      /DEFAULTS      */

.badge {

  &.badge-success {
    background: #69D161 !important;
    color: #fff !important;
  }

}

.skin-green {

  .btn-success, .btn-warning, .btn-danger, .btn-info, .btn-default, .btn-border, .btn-fb, .btn-tw, .btn-lkin {
    color: #fff !important;
  }

  .btn-success {
    background: #69D161 !important;

    &:hover, &:focus, &:active, &.active {
      background: transparent !important;
      border-color: #df9833 !important;
      color: #df9833 !important;
    }

  }

  .btn-primary {
  }

  .btn-secondary {
  }

  .btn-default {
    color: #69D161 !important;

    &:hover, &:focus, &:active, &.active {
      background: transparent !important;
      border-color: #df9833 !important;
      color: #df9833 !important;
    }

  }

  .pricetag {
    background: #69D161 !important;
  }

  .thumb-item-link {

    &.active {
      border-bottom: #69D161 !important;
    }

  }

  .search-row-wrapper {
    background: transparent;
  }

}
