/*      HEADER      */
#wrapper {
  padding-top: 0 !important;
}

.header {
  box-shadow: 0 15px 6px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #707070;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #69D161;
  margin-bottom: 20px;
}
.header .navbar.header-main {
  box-shadow: 0 15px 6px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative !important;
}
.header .navbar .navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header .navbar .navbar-brand img {
  max-width: 135px;
}
.header .navbar ul.navbar-nav li {
  margin-top: 0;
  margin-bottom: 0;
}
.header .header-navigation {
  height: 80px;
  color: #fff;
}

/*      /HEADER      */
.page-header-wrapper {
  height: 60px;
}

/* HOME */
/*      Banner section      */
/*      /Banner section      */
/* /HOME */
/*      FOOTER      */
footer .footer-content {
  box-shadow: 0 -15px 6px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #707070;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
footer .footer-content .footer-title-wrap .footer-title {
  color: #636363;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}
footer .footer-content .footer-content-wrap {
  box-shadow: 0 -15px 6px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #69D161;
  color: #fff;
}
footer .footer-content .footer-content-wrap .footer-col ul.footer-nav li a {
  color: #fff;
  line-height: 1.75;
  font-size: 0.9rem;
}
footer .footer-content .footer-content-wrap .footer-col ul.footer-nav li a:hover, footer .footer-content .footer-content-wrap .footer-col ul.footer-nav li a:focus, footer .footer-content .footer-content-wrap .footer-col ul.footer-nav li a:active {
  color: #636363;
}

/*      /FOOTER      */