/*      FOOTER      */

footer {

  .footer-content {
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #ced4da;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    .footer-title-wrap {

      .footer-title {
        color: #636363;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        font-weight: bold;
        font-size: 1.05rem;
        font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;
      }

    }

    .footer-content-wrap {
      box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      background-color: #69D161;
      color: #fff;

      .footer-col {
        ul {

          &.footer-nav {

            li {

              a {
                color: #fff !important;
                line-height: 1.75;
                font-size: 0.9rem;

                &:hover, &:focus, &:active {
                  color: #636363 !important;
                }

              }

            }

          }

        }

      }

    }

  }

}

/*      /FOOTER      */
