/*      MIXINS      */
@import "partials/mixin";
/*      /MIXINS      */

/*      HEADER      */
#wrapper {
  padding-top: 0 !important;
}

a {

  &.btn {

    &.btn-add-listing {
      box-shadow: unset;
      text-shadow: unset;
      color: #69D161 !important;
      background: transparent !important;
      border-radius: 1.5rem !important;
      border: 1px solid #69D161 !important;
      font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;

      &:hover, &:focus, &:active, &.active {
        border-color: #fff !important;
        background: transparent !important;
      }

    }

  }

}

.header {
  box-shadow: 0 0.4rem 0.7rem 0 rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 3.125rem;
  border-bottom-right-radius: 3.125rem;
  border-bottom: 1px solid #ced4da;
  background-color: #69D161;
  margin-bottom: 1.25rem;

  .navbar {

    &.header-main {
      box-shadow: 0 0.4rem 0.7rem 0 rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 3.125rem;
      border-bottom-right-radius: 3.125rem;
      position: relative !important;

      .navbar-toggler {
        //border-color: rgba(0,0,0,.1);
        border-color: #69D161;
        color: #69D161;
      }


      &.stuck {
        margin-top: 0;
      }

      ul {

        &.navbar-nav {

          li {

            a {

              &.user-image-wrap {
                position: relative;
                @include align-items-center;
                @include d-flex;
                padding: 0;

                .user-image {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  overflow: hidden;
                  position: relative;

                  img {
                    position: absolute;
                    width: 100%;

                  }

                }

                &::after {
                  position: absolute;
                  right: -0.6rem;
                }

              }

            }

          }

        }

      }

    }

    .navbar-brand {
      padding-top: 10px;
      padding-bottom: 10px;

      img {
        max-width: 135px;
      }

    }

    ul {

      &.navbar-nav {

        li {
          margin-top: 0;
          margin-bottom: 0;
        }

      }

    }

  }

  .header-navigation {
    @include d-flex;
    @include align-items-center;
    min-height: 50px;
    color: #fff;

    .dropdown {

      .dropdown-toggle {
        border: transparent;
        background: transparent;
        font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;
      }

      .dropdown-menu {
        border-radius: 1.75rem;
        border: none;

        .vertical-menu {

          .main-item {

            & > a {

              &.dropdown-item {
                color: #69D161;
                padding: 0.25rem 1rem;

                &:hover, &:focus, &:active, &.active {
                  background: transparent;
                }

              }

            }

            .sub-menu {

              .submenu-item {

                a {

                  &.dropdown-item {
                    color: #636363;
                    white-space: normal;

                    &:hover, &:focus, &:active, &.active {
                      background: transparent;
                      color: #69D161;
                    }

                  }

                }

              }

            }

          }


        }

      }

    }

    .navigation-special {
      @include d-flex;
      @include flex-wrap;
      @include align-items-center;
      @include justify-content-between;

      .dropdown-item {
        width: auto;
        max-width: 24%;
        color: #fff !important;
        font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;

        span {
          display: block;
          white-space: normal;
        }

        &:hover, &:focus, &:active, &.active {
          background: transparent;
        }

      }

    }

    .category-add {

      .navbar-nav {

        .postadd {

          a {

            &.btn {

              &.btn-add-listing {
                box-shadow: unset;
                text-shadow: unset;
                background: transparent !important;
                border-radius: 1.5rem !important;
                border: 1px solid transparent !important;
                font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;

                img {
                  width: 35px;
                }

                span {
                  color: #fff;
                }

                &:hover, &:focus, &:active, &.active {
                  border-color: #fff !important;
                  background: transparent !important;
                }

              }

            }

          }

        }

      }

    }

  }

}

/*      /HEADER      */

.page-header-wrapper {
  height: 60px;
}
