/*      HEADER      */

header {

  .navbar {

    .navbar-brand {

      img {
        max-width: 135px;
      }

    }

  }

}

/*      /HEADER      */

.page-header-wrapper {
  height: 60px;
}

.navbar-brand {

  img {
    max-width: 100px;
  }

}