/*      MIXINS      */
@import "partials/mixin";
/*      /MIXINS      */

/*      HEADER      */
#wrapper {
  padding-top: 0 !important;
}

.header {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #ced4da;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #69D161;
  margin-bottom: 20px;

  .navbar {

    &.header-main {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      position: relative !important;

      &.stuck {
        margin-top: 0;
      }

      ul {

        &.navbar-nav {

          li {

            a {

              &.user-image-wrap {
                position: relative;
                align-items: center;
                display: flex;
                padding: 0;

                .user-image {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  overflow: hidden;
                  position: relative;

                  img {
                    position: absolute;
                    width: 100%;

                  }
                }

                &::after {
                  position: absolute;
                  right: -0.6rem;
                }

              }

            }

          }

        }

      }

    }

    .navbar-brand {
      padding-top: 10px;
      padding-bottom: 10px;

      img {
        max-width: 135px;
      }

    }

    ul {

      &.navbar-nav {

        li {
          margin-top: 0;
          margin-bottom: 0;
        }

      }

    }

  }

  .header-navigation {
    @include d-flex;
    @include align-items-center;
    min-height: 50px;
    color: #fff;

    .dropdown {

      .dropdown-toggle {
        border: transparent;
        background: transparent;
        font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;
      }

      .dropdown-menu {
        border-radius: 2rem;

        .vertical-menu {

          .main-item {

            & > a {

              &.dropdown-item {
                color: #69D161;

                &:hover, &:focus, &:active, &.active {
                  background: transparent;
                }

              }

            }

            .sub-menu {

              .submenu-item {

                a {

                  &.dropdown-item {
                    color: #636363;
                    white-space: normal;

                    &:hover, &:focus, &:active, &.active {
                      background: transparent;
                      color: #69D161;
                    }

                  }

                }

              }

            }

          }


        }

      }

    }

    .navigation-special {
      @include d-flex;
      @include flex-wrap;
      @include align-items-center;
      @include justify-content-between;

      .dropdown-item {
        color: #fff !important;
        width: auto;
        max-width: 24.5%;
        font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;

        &:hover, &:focus, &:active, &.active {
          background: transparent;
        }

      }

    }

    .category-add {

      .navbar-nav {

        .postadd {

          .btn-add-listing {
            box-shadow: unset;
            text-shadow: unset;
            background: transparent;
            border-radius: 1.5rem !important;
            border: 1px solid transparent !important;
            font-family: Montserrat, "Roboto", Helvetica, Arial, sans-serif;

            img {
              width: 35px;
            }

            span {
              color: #fff;
            }

            &:hover, &:focus, &:active, &.active {
              border: 1px solid #fff !important;
              background: transparent !important;
            }

          }

        }

      }

    }

  }

}

/*      /HEADER      */

.page-header-wrapper {
  height: 60px;
}