/*      MIXINS      */
@import "partials/mixin";
/*      /MIXINS      */

/* HOME */

/*      Banner section      */

.wide-intro {
  background-position: center;
  background-repeat: no-repeat;

  .search-row {
    background-color: transparent !important;

    .search-col {
      @include d-flex;
      @include align-items-center;

      i {
        font-size: 1.25rem;
        position: absolute;
        left: 1.3rem;
      }

      &:first-child {
        border-radius: unset !important;
      }

      .form-control {
        border: 0.3rem solid #69D161 !important;
        border-radius: 1.5rem !important;
        padding-left: 2.25rem !important;

        &:hover, &:focus, &:active, &.active {
          box-shadow: unset;
          outline: none;
        }

      }

      .btn-search {
        border: 0.3rem solid transparent !important;
        border-radius: 1.5rem !important;
        padding-left: 3rem;
        padding-right: 3rem;

        &:hover, &:focus, &:active, &.active {
          border: 0.3rem solid #69D161 !important;
        }

      }

    }

  }

}

.search-row-wrapper {

  #seach {

    .search-col {
      @include d-flex;
      @include align-items-center;
      position: relative;

      i {
        font-size: 1.25rem;
        position: absolute;
        left: 1.3rem;
      }

      &:first-child {
        border-radius: unset !important;
      }

      .select2-container {

        .selection {

          .select2-selection--single {
            border: 0.3rem solid #69D161 !important;
            border-radius: 1.5rem !important;
            @include d-flex;
            @include justify-content-center;
            padding: 5px;
          }

        }

      }

      .form-control {
        border: 0.3rem solid #69D161 !important;
        border-radius: 1.5rem !important;
        padding-left: 2rem;

        &:hover, &:focus, &:active, &.active {
          box-shadow: unset;
          outline: none;
        }

      }

      .btn-search {
        border: 0.3rem solid transparent !important;
        border-radius: 1.5rem !important;
        padding-left: 3rem;
        padding-right: 3rem;

        &:hover, &:focus, &:active, &.active {
          border: 0.3rem solid #69D161 !important;
        }

      }

    }

  }

}

/*      /Banner section      */

.tags {

  a {

    &:hover, &:focus, &:active, &.active {
      border-color: #69d161 !important;
    }

  }

}

.featured-list-row {
  width: 100%;
}

.featured-list-slider {

  .owl-stage-outer {
    min-height: 350px;
    max-height: 350px;
  }

  .owl-stage {
    min-height: 350px;
    max-height: 350px;
    padding: 0.5rem 0;
    //@include d-flex;
    //@include align-items-center;
    //@include justify-content-center;
  }

  .owl-item {
    //width: 18% !important;
    overflow: hidden;
    margin: 0 0.75rem;
    border-radius: 1.5rem;
    border: 1px solid #ced4da;
    box-shadow: 0 0.15rem 0.1rem 0.05rem rgba(0, 0, 0, 0.2);

    .item {
      //min-width: unset;
      //max-width: unset;
      width: 100%;

      & > a {
        border: none !important;
        background: transparent !important;

        .item-carousel-thumb {
          box-shadow: 0 0.2rem 0.1rem 0.05rem rgba(0, 0, 0, 0.2);
          border-radius: 1.5rem;
          overflow: hidden;
          display: block;
          padding: 0 1px;
          min-height: 150px;
          max-height: 150px;
        }

        .item-carousel-desc {
          min-height: 150px;
          max-height: 200px;
          @include d-flex;
          @include flex-column;
          @include justify-content-center;

          .item-name {
            min-height: unset;
            color: #69d161;
          }

        }

        &:hover, &:focus, &:active, &.active {
          border: none !important;
          background: transparent !important;
        }

      }

      &:hover, &:focus, &:active, &.active {

        .item-carousel-thumb {
          box-shadow: 0 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
          border-radius: 1.5rem;
          overflow: hidden;
          display: block;

          img {
            transform: unset;
          }

        }

        .item-name {
          transform: unset;
        }

      }

    }

  }

  .owl-nav {

    &.disabled {
      display: block;
      margin: 0;
    }

    button {

      &[class*="owl-"] {
        padding: 0.5rem 0.75rem !important;
        margin: 0;
      }

      .i {

      }

    }

  }

}

.adds-wrapper {
  @include d-flex;
  @include flex-wrap;
  @include justify-content-between;

  .item-list {
    overflow: hidden;
    margin: 0 0.5rem 1rem;
    border-radius: 1.5rem;
    width: 17.75% !important;
    height: auto !important;
    border: 1px solid #ced4da !important;
    box-shadow: 0 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);

    &:hover, &:focus, &:active {
      background: transparent;

      .photobox {

        .add-image {

          a {

            &.make-favorite {
              width: auto;
              border-radius: 0.25rem;

              &:hover, &:focus, &:active, &.active {

              }

            }

          }

        }

      }

    }

    .cornerRibbons {
      left: -32.5% !important;
      top: 7.5% !important;
    }

    .photobox {
      box-shadow: 0 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
      border-radius: 1.5rem;
      overflow: hidden;
      display: block;

      .add-image {

        .fixed-fav {
          position: absolute;
          right: 0.6rem;
          top: 2rem;

          a {
          }

        }

        a {

          &.make-favorite {
            margin-bottom: 0;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            color: #292b2c !important;
            @include d-flex;
            @include align-items-center;
            @include justify-content-center;

            &:hover, &:focus, &:active, &.active {
              width: auto;
              border-radius: 0.25rem;
              color: #69D161 !important;
            }

          }

          &.img-wrap {
            max-height: 200px;

            img {
              border-radius: 1.5rem;
            }

          }


        }

      }

    }

    .add-desc-box {

      .items-details {

        .price-box {

        }

        .add-title {

          a {
            color: #636363;

            &:hover, &:focus, &:active, &.active {

            }

          }

        }

        .info-row {

          span {

            a {
              color: #69D161;

              &:hover, &:focus, &:active, &.active {
                color: #636363;
              }

            }

            &.item-location {

              i {
                color: #69D161;
                font-size: 1rem;
              }

              a {
                color: #636363;

                &:hover, &:focus, &:active, &.active {

                }

              }

            }


          }

          .ratings {

          }

        }

      }

    }

  }

  .load-more {

    a {

      &.btn {
        background: linear-gradient(to right, #69E961, #69B661);
        color: #fff;
        font-size: 1.25rem;
        border-radius: 1.5rem;
        text-transform: uppercase;
        @include plain-all;

        &:hover, &:focus, &:active {
          color: #69D161;
          background: #fff;
          border-color: #69D161;
          @include plain-all;
        }

      }

    }

  }

}

.item-page {

  .tab-filter {
    position: unset;
    right: unset;
    top: unset;
  }

  .adds-wrapper {

    .item-list {
      width: 24.5% !important;
    }

  }
}

.iconbox-wrap {

  .iconbox {
    @include d-flex;
    @include flex-column;

    .iconbox-wrap-icon {
      @include d-flex;
      @include justify-content-center;
    }

    .iconbox-wrap-content {
      @include d-flex;
      @include flex-column;
      @include align-items-center;
      @include justify-content-center;
      padding-left: 0;
    }

  }

}

.items-details-wrapper {

  .content-footer {

    a {
      color: #69D161 !important;
    }

  }

}

.select2-container {

  &.select2-container--open {

    .select2-dropdown {

      &.select2-dropdown--below {
        border-top: 1px solid #ddd;
        top: 0.25rem;
      }

    }

  }

}

.detail-line-action a {
  display: block;
}

.sidebar-card {

  .ev-action {

    a {
      color: #69D161 !important;

      &:hover, &:focus, &:active, &.active {
        color: #636363 !important;
      }

    }

  }

}

/* /HOME */
